global
    stats socket /tmp/haproxy.sock mode 660 level admin
    stats timeout 30s

defaults
    mode tcp
    timeout connect 5s
    timeout client 1m
    timeout server 1m

resolvers docker_dns
    nameserver dns1 127.0.0.11:53
    resolve_retries 3
    timeout retry 1s
    hold valid 1s

listen postgres_replicas
    bind *:5432
    balance roundrobin
    option tcp-check
    server-template replica 10 notes-replica-pool:5432 check resolvers docker_dns init-addr libc,none on-marked-up shutdown-backup-sessions
    server master_backup notes_db_primary:5432 check backup

listen stats
    bind *:8404
    mode http
    stats enable
    stats uri /stats
    stats refresh 5s
